@tailwind base;
@tailwind components;
@tailwind utilities;

    .caro-img{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
